<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a routerLink="/dashboard" style="text-decoration: none; color: white;">My library</a>
        <span class="example-fill-remaining-space"></span>
        <span class="align-center"></span>
        <span class="example-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </button>
            <button mat-menu-item routerLink="/categorie">
                <mat-icon>label</mat-icon>
                <span>Categories</span>
            </button>
            <button mat-menu-item>
                <mat-icon>book</mat-icon>
                <span>Books</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>