<mat-card class="books-card">
    <mat-card-header>
        <mat-card-title>Books</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-nav-list role="list">
            <mat-list-item role="listitem" *ngFor="let book of books">
                <a mat-list-item [routerLink]="['/book', book.slug]">
                    {{ book.title }} - {{ book.rate }}
                </a>
                <button mat-icon-button (click)="remove(book.slug)">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </mat-list-item>
        </mat-nav-list>
    </mat-card-content>
    <mat-card-actions>
        <a routerLink="/book" class="btn btn-link">New book</a>
    </mat-card-actions>
</mat-card>
